.link-visited {
  color: seagreen;
}
p {
  font-size: 12px;
  text-align: justify;
}
.custom-paragraph {
  font-size: 16px;
  padding: 1rem;
  color: black;
  text-align: justify;
}
.box-contact{
  background-color: darkblue;
  padding: 2rem;
  color: white;
}