{% extends 'base.html' %} {% block breadcrumbs %}
<section class="content-header">
  {% if object.pk%}
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a class="link-visited" href="{% url 'order-update' object.pk %}">Detalle de Órden</a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'order-details' object.pk %}">Equipos</a></li>
  </ol>
  {% endif%}
</section>

{% endblock %} {% block content_block_wrap %}
<form method="POST">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Editar Órden</h3>
    </div>
    <div class="card-body">
      {% csrf_token %} {{ form}}

    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col col-sm-12 col-xs-12 col-md-8">
          <button class="btn btn-success" type="submit">
            <i class="nav-icon fas fa-save"></i> {% if object == None%}Crear{% else %}Actualizar{% endif %}
          </button>
        </div>
        <div>
          <label style="text-align: right; font-size: 2rem; font-weight: bolder;">
            {%if object is not None%} $ {{object.monto_servicio}}
            {%endif%}
          </label>
        </div>

      </div>
    </div>
  </div>

</form>
{% endblock %}