{% extends 'base.html' %} {% block title %}Detalles de Órden de Mantenimiento{% endblock%}
{% block breadcrumbs %}
<section class="content-header">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
    <li class="breadcrumb-item active">Detalles</li>
  </ol>
</section>

{% endblock %} {% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Detalles</h3>
    <div class="card-tools">
      <form action="" method="get">
        <input name="filter" value="{{filter}}" />
        <button class="btn btn-primary" type="submit">
          <i class="nav-icon fas fa-search"></i> Buscar
        </button>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover datatable table-bordered">
        <thead>
          <tr>
            <th>Equipo</th>
            <th>Estado</th>
            <th>Observación</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detalles %}
          <tr>
            <td>{{ orden.nombre_equipo }}</td>
            <td>{{ orden.estado }}</td>
            <td>{{ orden.observacion }}</td>
            <td>
              <a href="{% url 'order-detail-update' detalle.id %}">
                {{ orden.descripcion }}
              </a>
            </td>
            <td><a href="{% url 'order-detail-delete' orden.id %}"> Eliminar </a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a class="btn btn-primary pull-right" href="{% url 'order-add' %}">
          <i class="nav-icon fas fa-plus-circle"></i> Agregar
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}