{% extends 'base.html' %} {% block title %}Detalles de Órden de Mantenimiento{% endblock%}
{% block breadcrumbs %}
<section class="content-header">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a class="link-visited" href="{% url 'order-update' order_id %}">Detalle de Órden</a>
    </li>
    <li class="breadcrumb-item"><a class="link-visited" href="{% url 'order-details' order_id %}">Equipos</a></li>
  </ol>
</section>

{% endblock %} {% block content %}
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Detalles</h3>
    <div class="card-tools">
      <form action="" method="get">
        <input name="filter" value="{{filter}}" />
        <button class="btn btn-primary" type="submit">
          <i class="nav-icon fas fa-search"></i> Buscar
        </button>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover datatable table-bordered">
        <thead>
          <tr>
            <th>Equipo</th>
            <th>Estado</th>
            <th>Observación</th>
            <th>Revisiones</th>
            <th>Precio de Servicio</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          {% for detalle in detalles %}
          <tr>
            <td>{{ detalle.nombre_equipo }}</td>
            <td>{{ detalle.estado }}</td>
            <td>{{ detalle.observacion }}</td>
            <td>
              {% for revision in detalle.revisiones.all %}
              <li>{{revision.descripcion}}</li>
              {% endfor %}
            </td>
            <td>{{ detalle.precio_servicio }}</td>
            <td>
              <a href="{% url 'order-detail-update' order_id detalle.id %}">
                <i class="nav-icon text-success fa fa-edit"></i>
              </a>
              <a href="{% url 'order-detail-delete' order_id detalle.id %}"> <i
                  class="nav-icon text-danger fa fa-trash"></i> </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <a style="float: right" class="btn btn-primary pull-right" href="{% url 'order-detail-add' order_id %}">
          <i class="nav-icon fas fa-plus-circle"></i> Agregar
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}