{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content_block_wrap %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Servicios que Ofrecemos</h2>
    </div>
    <div class="card-body">
        <h1>Productos</h1>
        <p class="custom-paragraph">Los productos que mas buscas están aqui</p>
        <h1>Soporte 24/7</h1>
        <p class="custom-paragraph">Soporte las 24 horas estamos contigo.</p>
        <h1>Garantía y Calidad</h1>
        <p class="custom-paragraph">De servicios que ofrecemos a nuestros clientes.</p>
    </div>
</div>

{% endblock %}